:root {
  --bg: rgb(16, 24, 41);
  --text: white;
  --bg-p: rgb(247, 249, 250);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}











.aboutread {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  text-align: center;
  padding: 0px 5%;
  background-color: rgb(242, 243, 245);
}

.aboutread>h1 {
  color: var(--bg);
  font-size: 50px;
}

.aboutread>p {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
}