.allblogs {
    padding: 20px 0px 15px 0px;
    /* margin: 60px 0px 15px 0px; */
    background-color: #e5e5e5;
}

.allblogs>h1 {
    padding: 20px 0px 20px 5%;
    color: var(--bg);
}

.allblogs>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.allblogs>div>.blog {
    width: 400px;
    height: 500px;
    background-color: var(--bg-p);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease-in-out;
}

.allblogs>div>.blog:hover {
    transform: translateY(-10px);
    scale: 1.01;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
}

.blog>.image {
    position: relative;
    width: 100%;
    height: 168px;
}

.blog>.image>img {
    object-fit: contain;
}

.blog>.text {
    padding: 10px;
}

.text>.title {
    color: var(--bg);
    font-size: 20px;
    line-height: 30px;
}

.text>.desc {
    color: var(--bg);
    font-size: 14px;
    margin: 10px 0px;
}

.allblogs>.btns {
    margin: 20px 0px;
}

.allblogs>.btns>button {
    background: var(--bg);
    color: var(--text);
    font-size: 25px;
    border-radius: 8px;
    border: none;
    height: 50px;
    width: 50px;
}

.allblogs>.btns>span {
    font-size: 20px;
}

.blog>.user {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog>.user>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.blog>.user>div>a>img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.blog>.user>.date {
    color: rgba(0, 0, 0, 0.7);
}

.blog>.text>.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.blog>.text>.tags>.tag {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 14px;
    padding: 3px 10px;
}

.readbtn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--bg);
    color: var(--text);
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
    margin: 10px 0px;
}

@media (max-width:300px) {

    .blog>.user>div>a>span {
        font-size: 14px;
    }
}

@media (max-width:440px) {

    .blog>.user>.date {
        font-size: 12px;
    }

    .blog>.image>img {
        object-fit: fill;
    }

    .tags {
        display: none !important;
    }
}

@media (max-width:768px) {
    .allblogs {
        padding: 10px 20px;
    }

    .allblogs>div>.blog {
        height: 440px;
    }

    .blog>.image {
        height: 120px;
    }

    .blog>.image>img {
        object-fit: fill;
    }

    .readbtn {
        font-size: 13px;
        bottom: 0;
    }
}