footer {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0px 5%;
}

footer>.top {
    display: flex;
    gap: 50px;
    padding: 50px 0px;
}

footer>.top>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 400px; */
}

footer>.top>div>h3 {
    color: var(--text);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

footer>.top>div>p,
footer>.top>div>span,
footer>.top>div>a {
    color: rgba(255, 255, 255, 0.7);
}

footer>.top>div>span {
    cursor: pointer;
}

footer>.top>div>a:hover,
footer>.top>div>span:hover {
    color: var(--text);
}

footer>.bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.bot>span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.bot>.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bot>.icons>div>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.bot>.icons>div>a>svg {
    fill: rgba(255, 255, 255, 0.7);
}

.bot>.icons>div>a>svg:hover {
    fill: var(--text);
}

.fb {
    scale: 1.3;
}

.linkedin {
    scale: 0.8;
}


@media (max-width:768px) {
    footer>.top {
        flex-direction: column;
    }

    footer>.bot {
        justify-content: center;
        gap: 5px;
        height: 80px;
        flex-direction: column;
    }
}