.hero {
    width: 100%;
    min-height: calc(110vh + 70px);
    color: var(--text);
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 40px 0px 40px;
}

.hero>a>.read {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.hero>a>.read>span {
    color: var(--text);
    font-weight: 500;
}

.hero>a>.read:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hero>h1 {
    color: var(--text);
    font-size: 65px;
    text-align: center;
    line-height: 70px;
    margin: 30px 0px;
}

.explore {
    font-size: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.hero>.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.hero>.btns>a>.r {
    color: var(--bg);
    background: var(--text);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.hero>.btns>a>.r:hover {
    background: rgba(255, 255, 255, 0.7);
}

.hero>.btns>a>.l {
    color: var(--text);
    background: transparent;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}

.hero>.btns>a>.l:hover {
    color: rgba(255, 255, 255, 0.7);
}

.hero>a>.read {
    display: block;
}

.hero>a>.mobile {
    display: none;
}

@media (max-width:768px) {
    .hero {
        min-height: 100vh;
        padding: 0px 6%;
    }

    .hero>a>.read {
        display: none;
    }

    .hero>a>.mobile {
        display: block;
    }

    .hero>h1 {
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
    }

    .hero>.btns {
        flex-wrap: wrap;
    }


    .hero>.btns>button {
        font-size: 12px !important;
        margin: 5px 0px !important;
    }
}