.navbar {
    position: relative;
    margin-bottom: 60px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    color: var(--text);
    font-size: 35px;
    font-weight: bold;
}

nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
}

.ul {
    transition: all 0.3s ease-in-out;
}

ul>li>a {
    color: var(--text);
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;
}

ul>li>a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.ham {
    background: transparent;
    border: none;
    color: var(--text);
    padding: 5px 8px;
    display: none;
}

.ham:focus{
    background: none;
}

.close {
    scale: 1.2;
}

.menu {
    scale: 1.3;
}

@media (max-width:768px) {
    .ham {
        display: block;
    }

    nav>ul {
        position: fixed;
        right: 0;
        top: 60px;
        flex-direction: column;
        background-color: var(--bg);
        width: 100%;
        padding: 20px 0px;
        position: fixed;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    }

    .ul {
        display: none;
    }
}